server:
  port: 8080

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/payflow}
    username: ${DB_USER:payflow}
    password: ${DB_PASS:payflow}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  flyway:
    enabled: true

app:
  jwt:
    secret: ${JWT_SECRET:dev_secret_change_me}
    ttlMinutes: 120

stripe:
  secretKey: ${STRIPE_SECRET_KEY:}
  webhookSecret: ${STRIPE_WEBHOOK_SECRET:}
  appUrl: ${APP_URL:http://localhost:5173}
